<section>
    Hola Fabi
</section>

<p-divider></p-divider>

<section style="display: flex;">
    <div style="float: left;">
        <p-table [value]="pokedexListado" [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" [globalFilterFields]="['name']"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem"></th>
                    <th>Nombre</th>
                    <th>Url</th>
                    <th>Tu favorito es...</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <p-autoComplete [(ngModel)]="selectedPokemon" [dropdown]="true" [suggestions]="filtroPokemon"
                            (completeMethod)="search($event)" field="name"></p-autoComplete>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>

            <!-- CUERPO DE LA TABLA -->
            <ng-template pTemplate="body" let-pokedex>
                <tr>
                    <td>
                        <p-tableRadioButton [value]="pokedex" (click)="masInfo(pokedex.name)"></p-tableRadioButton>
                    </td>
                    <td>{{ pokedex.name | uppercase }}</td>
                    <td>{{ pokedex.url }}</td>
                    <td>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div style="float: right;" *ngIf="existe;">
        <p-card>
            <ng-template pTemplate>
                <h1>Informacion detallada de {{pokemon.name! | uppercase}}</h1>
                <p>Habilidades: {{pokemon.abilities! | json}}</p>
                <p>Base Experience: {{pokemon.base_experience | json}}</p>
                <p>Forms: {{pokemon.forms | json}}</p>
                <p>Height: {{pokemon.height | json}}</p>
                <p>Id: {{pokemon.id}}</p>
                <p>Location Area Encounters: {{pokemon.location_area_encounters}}</p>
                <p>Order: {{pokemon.order | json}}</p>
                <p>Past_types: {{pokemon.past_types | json}}</p>
                <p>Species: {{pokemon.species | json}}</p>
                <p>Types: {{pokemon.types | json}}</p>
                <p>Weight: {{pokemon.weight}}</p>
            </ng-template>
        </p-card>
    </div>
</section>

<div>
    <p-card header="Cantidad de Pokemones por Letra">
        <p-table [value]="data" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <th>I</th>
                    <th>J</th>
                    <th>K</th>
                    <th>L</th>
                    <th>M</th>
                    <th>N</th>
                    <th>Ñ</th>
                    <th>O</th>
                    <th>P</th>
                    <th>Q</th>
                    <th>R</th>
                    <th>S</th>
                    <th>T</th>
                    <th>U</th>
                    <th>V</th>
                    <th>W</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-datos>
                <tr>
                    <td> {{ datos.A }} </td>
                    <td> {{ datos.B }} </td>
                    <td> {{ datos.C }} </td>
                    <td> {{ datos.D }} </td>
                    <td> {{ datos.E }} </td>
                    <td> {{ datos.F }} </td>
                    <td> {{ datos.G }} </td>
                    <td> {{ datos.H }} </td>
                    <td> {{ datos.I }} </td>
                    <td> {{ datos.J }} </td>
                    <td> {{ datos.K }} </td>
                    <td> {{ datos.L }} </td>
                    <td> {{ datos.M }} </td>
                    <td> {{ datos.N }} </td>
                    <td> {{ datos.NN }} </td>
                    <td> {{ datos.O }} </td>
                    <td> {{ datos.P }} </td>
                    <td> {{ datos.Q }} </td>
                    <td> {{ datos.R }} </td>
                    <td> {{ datos.S }} </td>
                    <td> {{ datos.T }} </td>
                    <td> {{ datos.U }} </td>
                    <td> {{ datos.V }} </td>
                    <td> {{ datos.W }} </td>
                    <td> {{ datos.X }} </td>
                    <td> {{ datos.Y }} </td>
                    <td> {{ datos.Z }} </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>