<div class="container">
    Hola Fabi
</div>

<p-divider></p-divider>

<div class="container">
    <p-splitter [style]="{ height: '300px' }" [panelSizes]="[50, 50]" [minSizes]="[10, 0]" styleClass="mb-5">
        <ng-template pTemplate>
            <p-splitter layout="vertical" [panelSizes]="[15, 85]">
                <ng-template pTemplate>
                    <p-splitter [panelSizes]="[20, 80]">

                        <!-- SECCION PARA TODOS LOS POKEMONS -->
                        <ng-template pTemplate>
                            <div class="col flex align-items-center justify-content-center">
                                <p-table [value]="pokedexListado" [tableStyle]="{'min-width': '50rem'}"
                                    [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                                    [tableStyle]="{ 'min-width': '50rem' }" [globalFilterFields]="['name']"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [rowsPerPageOptions]="[10, 25, 50]">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 4rem"></th>
                                            <th>Nombre</th>
                                            <th>Url</th>
                                            <th>Tu favorito es...</th>
                                        </tr>
                                    </ng-template>

                                    <!-- CUERPO DE LA TABLA -->
                                    <ng-template pTemplate="body" let-pokedex>
                                        <tr>
                                            <td>
                                                <p-tableRadioButton [value]="pokedex"
                                                    (click)="masInfo(pokedex.name)"></p-tableRadioButton>
                                            </td>
                                            <td>{{ pokedex.name | uppercase }}</td>
                                            <td>{{ pokedex.url }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </ng-template>

                        <!-- SECCION PARA EL POKEMON SELECCIONADO -->
                        <ng-template pTemplate>
                            <div class="col flex align-items-center justify-content-center">
                                {{pokemon | json}}
                            </div>
                        </ng-template>
                    </p-splitter>
                </ng-template>
            </p-splitter>
        </ng-template>
    </p-splitter>
</div>